<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.viusasa_app_pay_packages.payment">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
